body{
  margin:0;
}
h3,h4{
  color:#000000;
}
p{
  text-align: justify;
  color:#000000;
}
.caja{
  background-color: green;
  padding: 15px 0;

}
.color{
  background-color: #e9ecef;
  padding: 15px 0;
}
.jumbotron{
  margin-bottom: 0;
}

nav{
  margin-bottom: 20px;
}
